@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-light-bg: hsl(266,40%,92%);
    --color-light-bg-secondary: var(--color-white);
    --color-light-bg-tertiary: hsl(266,40%,90%);
    --color-light-main: #A882DD;
    --color-light-secondary: #49416D ;
    --color-light-tertiary: #9170bf;
    --color-light-text: #111111;
    --color-light-text-secondary: #FFFFFF;
    --color-light-text-tertiary: hsl(266,40%,60%);
    --color-light-error-bg: rgba(192, 80, 80, 0.12);
    --color-light-error-border: #C05050;
    --color-light-error-text: #8B2F2F;
    --color-light-hover: #5A4B87;
    --color-light-active: #3B3354;

    --color-dark-bg: #1E1B26;
    --color-dark-bg-secondary: #49416D;
    --color-dark-bg-tertiary: #332E40;

    --color-dark-main: #6F57A4;
    --color-dark-secondary: #8B63D3;
    --color-dark-tertiary: #AF96D6;

    --color-dark-text: #E4E0EC;
    --color-dark-text-secondary: #AFA8BF;
    --color-dark-text-tertiary: #7A7491;
    --color-dark-on-main: #1E1B26;

    --color-dark-error-bg: #3A2628;
    --color-dark-error-border: #D17C7C;
    --color-dark-error-text: #ECAAAA;

    --color-dark-hover: #5A4B87;
    --color-dark-active: #3B3354;

    --breakpoint-tiny: 400px;
    --breakpoint-320: 320px;
}

.dark{
    --color-light-text: var(--color-dark-text);
}

