@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-light-bg: var(--color-gray-100);
    --color-light-bg-secondary: var(--color-white);
    --color-light-main: #A882DD;
    --color-light-secondary: #49416D ;
    --color-light-tertiary: #9170bf;
    --color-light-text: #111111;
    --color-light-text-secondary: #FFFFFF;
    --color-light-error-bg: rgba(192, 80, 80, 0.12);  /* lekko czerwony, półprzezroczysty */
    --color-light-error-border: #C05050;              /* ciemniejszy czerwono-różowy, wyraźny */
    --color-light-error-text: #8B2F2F;               /* głęboka, stonowana czerwień */
    --color-light-hover: #5A4B87;   /* trochę jaśniejszy od #49416D */
    --color-light-active: #3B3354;

    --color-dark-bg: #1E1B26;       /* ciemny, grafitowy fiolet */
    --color-dark-bg-secondary: #2A2733;
    --color-dark-main: #6F57A4;
    --color-dark-secondary: #49416D;/* głębszy, lekko szarawy fiolet dla akcentów */
    --color-dark-tertiary: #AF96D6; /* subtelny jaśniejszy akcent */
    --color-dark-text: #E4E0EC;
    --color-dark-text-secondary: #AFA8BF;
    --color-dark-on-main: #1E1B26;
    --color-dark-error-bg: #3A2628;         /* ciemne, przygaszone tło z nutą czerwieni */
    --color-dark-error-border: #D17C7C;     /* pastelowy, ale wyraźny różowy border */
    --color-dark-error-text: #ECAAAA;       /* jasna, czytelna treść */
    --color-dark-hover: #5A4B87;
    --color-dark-active: #3B3354;

    --breakpoint-tiny: 400px;
}

